#button-container{
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
}

#submit-container{
    padding-top: 1%;
    display: flex;
    justify-content: center;
}

button {
  background-color: #307598;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 5px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: #4cb6eb;
}

#button-container > button{
    scale: 1.1;
}

#obj-para{
    display: grid;
    justify-content: center;
    display: none;
}

#obj-input{
    display: flex;
    justify-content: center;
    display: none;
}

#obj-con{
    display: grid;
    justify-content: center;
    display: none;
}

#path-para{
    display: grid;
    justify-content: center;
    display: none;
}

#path-input{
    display: grid;
    justify-content: center;
    display: none;
}

#path-con{
    display: grid;
    justify-content: center;
    display: none;
}

#obj-para > p{
    scale: 1.25;
}

#obj-input > label,input{
    margin-inline: 5rem;
}

#obj-con > button{
    scale: 1.25;
}

#obj-con > button{
    margin-top: 1rem;
    margin-right: 5rem;
}

#rain-con {
    display: flex;
    justify-content: space-around;
    display: none;
}

#direction-input{
    display: flex;
    justify-content: center;
    display: none;
}

#direction-con{
    display: flex;
    justify-content: center;
    display: none;
}

#intensity-input{
    display: flex;
    justify-content: center;
    display: none;
}

#intensity-con{
    display: flex;
    justify-content: center;
    display: none;
}

#path-para > p{
    scale: 1.25;
}

#path-input > label,input{
    margin-inline: 5rem;
}

#path-con > button{
    scale: 1.25;
    margin-top: 1rem;
    margin-right: 5rem;
}